.infa {
    text-align: center;
    color: white;
}
h2 {
    font-size: 36px;
}

.anime {
    font-size: 24px;
}

.ghoul {
    background-image: url(/images/1783942.jpg);
    text-align: center;
    margin-bottom: -16px;
}

.sotka {
    background-image: url(/images/180-1801100_hot-anime-wallpapers-hd-anime-wallpaper-hd.jpg);
    text-align: center;
    margin-bottom: -16px;
}

.etap_one {
    margin-top: -36px;
    background-image: url(/images/17057876.jpg)
}

.onehousend {
    margin-bottom: -16px;
}

.sword {
    background-image: url(/images/sword-art-online-wallpaper-1920x1080-7.jpg);
    margin-bottom: -16px;
}

.data {
    background-image: url(/images/anime-artworks-1p-1920x1080.jpg);
    margin-bottom: -24px;
}

.end {
    color: #000;
    font-size: 20px;
}

.all-objects {
    margin-left: -8px;
    margin-right: -8px;
}



